<!DOCTYPE html>
	<html>
		<head>
			<title>My ide</title>
		</head>
		<body>
			<h1>Welcome to Annas ide</h1>
			<%- body %>
			<script src="/jquery.js"></script>
			<script src="/handlebars.js"></script>
		</body>
	</html>